midgreen = #7c7f70
lightgreen = #bdbdb2
darkgreen = #514f50

body
    font-family Courier
    margin 0
    background-color lightgreen


nav-item()
    display block
    margin 5px 10px
    line-height 20px

clear()
    display block
    content " "
    clear both

.nav-item
    float left
    nav-item()

.nav-item--right
    float:right
    nav-item()

.big
    font-size larger


.nav
    margin 0
    background-color midgreen
    &::after,&::before
        clear()

.header
    //color white
    font-family Palatino
    background-color #e0d0ff
    background-image url("/images/camo.gif")
    padding 35px 0 75px 40px

h1
    font-size 40px


h2
    font-weight 400

.sub
    font-size 25px
    font-weight normal
    //color #e0d0ff

.info
    clear()

.content
    background-color lightgreen
    margin-bottom 40px

.nav,.content
    -webkit-padding-start 0
    padding 15px 40px

.logo
    max-width: 92px
    margin-right 15px
    float left

.image-container
    max-width 25%
    img
        max-width 100%
        display block
    float left

.frame
    padding 0 5px

.image-text
    text-align center
    font-style italic
    clear both

.images
    font-family Georgia
    padding 35px 35px
    margin 0 auto
    background midgreen
    &::after
        clear()

.half-rule
    display none
    width 100px
    margin 40px auto
    border-top 1px solid darkgreen
