doctype html
html(lang="se")
    {% load staticfiles %}
    head
        include jade/head.jade

    body
        div.container
            include jade/nav.jade

        .container
            .header
                h1 Närvaro

            .content

                h2(id="kommande") Kommande Tillfällen
                {% if coming %}

                {% for s in coming %}
                .session
                    .session_header 
                        {% if user.is_staff %}
                        a(href="{{ s.get_admin_url }}") {{ s.date }}
                        {% else %}
                        .session_header {{ s.date }}
                        {% endif %}

                    .session_info--description  {{ s.description }}

                {% endfor %}
                {% else %}
                p Det finns för närvarande inga kommande tillfällen noterade.
                {% endif %}

                {% if sessions %}
                h2(id="avslutade") Avslutade Tillfällen

                {% for s in sessions %}
                .session
                    .session_header 
                        .session_header 
                            {% if user.is_staff %}
                            a(href="{{ s.get_admin_url }}") {{ s.date }}
                            {% else %}
                            {{ s.date }}
                            {% endif %}
                            {% if user.is_authenticated %}
                            {% if user in s.attendees.all %}
                            .session_info--positive Du närvarade
                            {% else %}
                            .session_info--negative Du närvarade INTE
                            {% endif %}
                            {% endif %}

                    .session_info--description  {{ s.description }}
                    {% if user.is_staff %}
                    .session_info--attendance Närvaro: {{ s.attendees.count }} av {{ num_users }} ({% widthratio s.attendees.count num_users 100 %}%)
                    {% endif %}

                {% endfor %}
                {% else %}
                p Det finns för närvarande inga avslutade tillfällen noterade.
                {% endif %}
